<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>mino</title>
</head>
<body>

    <div>
        I am a [ethnicity]
        I am [complexion]
        My undertone is
        My skintype is
        I like products with [coverage]
        I am allergic to [allergy]
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>
</html> -->

<!-- Budget -->
        <!-- <div class="carousel-item">
            <div class="row">
                <div class="col-md-12">
                    <form action="">
                        <fieldset>
                            <span> <span style="font-size: larger;">7</span> <span style="font-size: larger; color: grey;">/ 9</span></span>
                        <legend>What is your budget range for makeup products?</legend><br>

                        <input type="radio" name="budget" id="" value="less50">
                        <label for="less">Less than $50</label><br>

                        <input type="radio" name="budget" id="" value="mid50-100">
                        <label for="mid">$50 - $100</label><br>

                        <input type="radio" name="budget" id="" value="more100">
                        <label for="over">Over $100</label><br>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div> -->
        <!-- /Budget -->

        <!-- Skin Finish -->
        <!-- <div class="carousel-item">
            <div class="row">
                <div class="col-md-12">
                    <form action="">
                        <fieldset>
                            <span> <span style="font-size: larger;">8</span> <span style="font-size: larger; color: grey;">/ 9</span></span>

                        <legend>What finish do you prefer?</legend><br>

                        <input type="radio" name="finish" id="" value="Natural">
                        <label for="natural">Natural</label><br>

                        <input type="radio" name="finish" id="" value="Matte">
                        <label for="matte">Matte</label><br>

                        <input type="radio" name="finish" id="" value="Dewy">
                        <label for="dewy">Dewy</label><br>

                        <input type="radio" name="finish" id="" value="Satin">
                        <label for="satin">Satin</label><br>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div> -->
        <!-- /Skin Finish -->