
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
            Bacon ipsum dolor amet shankle ribeye short loin short ribs filet mignon ham hock. Shankle spare ribs strip steak porchetta. Tri-tip capicola strip steak, jerky rump alcatra shank tongue salami chicken meatloaf. Flank capicola chislic, spare ribs meatball leberkas cow filet mignon bacon picanha kevin alcatra t-bone jowl tenderloin.

Leberkas shank bresaola, drumstick buffalo rump sirloin filet mignon kielbasa pancetta shankle prosciutto tenderloin chislic. Capicola corned beef frankfurter sirloin, andouille pastrami jowl doner drumstick spare ribs beef turkey pork brisket hamburger. Meatloaf capicola sirloin leberkas, alcatra pancetta picanha turkey beef ribs ball tip andouille filet mignon kielbasa. Beef shankle cow ham meatball.

Meatball tri-tip t-bone sirloin tail burgdoggen spare ribs. Jerky tongue ham hock, t-bone bacon short ribs ball tip frankfurter capicola flank shankle ribeye spare ribs brisket short loin. Jerky pancetta sirloin swine pork loin shankle cupim porchetta spare ribs ham short loin pig. Andouille strip steak short loin sausage porchetta picanha jowl kielbasa pork chop tenderloin bresaola pig. Ground round shank alcatra swine, venison turkey bresaola kevin cupim t-bone pork chop beef frankfurter flank beef ribs. Buffalo filet mignon shank meatloaf.
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    </div>
</div>