

<!-- user_prompt = f"Suggest the best ${product} for a person of {ethnicity} with a {complexion} complexion, {undertone} undertone,
{skinType} skin type and prefers the following coverage types {coverage}. In your suggestion, if {allergy} is Yes, be careful to avoid products that could
exacerbate the following allergies {ingredients}, else ignore {ingredients}. The recommendations should list products that have the following {preference}" -->



<!-- User Prompt [Query by Brand] -->
<!-- You know the brand you want to purchase but you're confused about what product to try -->

<!-- Temp: 1, Top P: 1, Frequency Penalty: 0, Presence Penalty: 0
prompt01 = f"Please suggest the best ${product} for an individual of {ethnicity} with a {complexion} complexion and {undertone} undertone. 
They have a {skinType} skin type and prefer the following coverage types: {coverage}. If {allergy} is 'Yes', kindly avoid recommending any 
products that contain the following allergens: {ingredients}. If there are no allergies, feel free to disregard {ingredients}. Additionally, 
ensure that your recommendations align with the following preferences: {preference}." -->

<!-- User Prompt [Query by Product - Foundation Shade] -->
<!-- You know the product you want to purchase but you're confused about what shade to try -->
<!-- Temp: 1, Top P: 1, Frequency Penalty: 0, Presence Penalty: 0
prompt01 = f"For an individual of {ethnicity} with a {complexion} complexion and {undertone} undertone, what is the best shade in this product line?. -->